* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;


}

/* font-family: 'Oswald', sans-serif; */

:root {
    --light: #f5f5f5
}

#btn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#btn :hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.navbar {
    background-color: var(--light);
    padding: 0.8rem;
    display: flex;
    justify-content: flex-end;


}


.navbar ul {
    display: flex;
    padding-right: 2rem;
}

.navbar ul li {
    padding: 0rem 0.6rem;
    color: black;
    border-right: 1px solid black;
}

.navbar ul li a:hover {
    color: rgb(129, 129, 129);
}

.navbar ul li:last-child {
    padding: 0 0.6rem;
    color: black;
    border: none;
}

.navbar ul li a {
    font-size: 0.9rem;
    color: black;
}

.help {
    position: relative;
}

.help ul {
    position: absolute;
    top: 20px;
    left: -25px;
    width: 120px;
    display: none;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    z-index: 20;
}

.help:hover .show-list {
    display: block;
}


.help ul li {
    border: none;
    padding-bottom: 0.5rem;

}

.help ul li:first-child {
    font-weight: 700;
    padding-bottom: 1rem;
}

.header {
    padding: 2rem;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header img {
    width: 5rem;
    position: absolute;
    left: 5rem;

}

.header ul {
    display: flex;
}

.header ul li {
    color: black;
    padding: 0 1rem;
}

.header ul li a {
    color: black;
}

.header ul li a:hover {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}


/* .empty{
    padding: 2rem;
    background-color: var(--light);
} */

.img1 {
    border-radius: 50px;
    padding: 0 20px;
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    position: relative;
}

.img1 img {
    padding-top: 0rem;
    object-fit: contain;
    width: 90%;
    margin: auto;
    height: auto;
    border-radius: 50px;
}

.img1 p {
    position: absolute;
    color: white;
    font-family: 'Vina Sans', cursive;
    font-size: 4rem;
    left: 6%;
    top: 1rem;
    padding: 2.5rem;
}

.img1 button {
    position: absolute;
    top: 10rem;
    left: 15%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 25px;
    margin: auto;
    cursor: pointer;
}

.img1 button:hover {
    background-color: #00ff01;
    color: rgb(0, 0, 0);
    border: none;
}

.perfect-shoe {
    text-align: center;
    padding: 3rem;
    font-size: 5rem;
    font-weight: 300;

    font-family: 'Vina Sans', cursive;
}

.find-store {
    color: white;
    background-color: black;
    border: none;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 25px;
    margin: auto;
    cursor: pointer;
}

.find-store:hover {

    background-color: rgb(43, 43, 43);
    border: none;
}

.btn {
    text-align: center;
    padding-bottom: 3rem;
}

.two-pic {
    padding: 3.5rem 0rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: auto;



}



.two-pic img {
    object-fit: cover;
    width: 100%;
    height: 900px;
    border-radius: 30px;


}


.right-pic {
    width: 700px;
}

.left-pic {
    width: 700px;
}


.left-pic p:nth-child(2) {
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
}




.right-pic p:nth-child(2) {
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
}


.right-pic p:nth-child(3) {
    width: 100%;
}

.two-btn {
    padding: 1.5rem 0;

}

.two-btn button {
    background-color: black;
    border-radius: 20px;
    padding: 7px 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.footer {

    background-color: black;

}

.footer-con {
    width: 100%;
    padding: 4rem 0rem;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */

    display: flex;
    justify-content: space-around;
    margin: auto;

}

.footer p {
    margin-bottom: 20px;
    color: rgb(116, 116, 116);
    cursor: pointer;
    font-size: 0.9rem;

}

.footer p:hover {
    color: white;
}

.footer-con div p:nth-child(1) {
    color: white;
    font-family: 'Vina Sans', cursive;
    font-size: 1.2rem;
}




.social i {
    font-size: 2.5rem;
    padding-right: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.social i:hover {
    transform: translateY(-10px);
}

.address,
.condiotion {
    display: flex;
    align-items: center;

    padding-bottom: 3rem;

}



.location-conditions {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}

.location {
    padding-right: 20px;
    color: white;
    font-family: 'Vina Sans', cursive;
    font-size: 1.2rem;
    cursor: pointer;



}

.location i {
    padding-right: 10px;
    font-size: 1.4rem;
}

.gps {
    color: rgb(141, 141, 141);
    cursor: pointer;
    align-items: center;
    font-size: 0.9rem;

}

.condiotion p:nth-child(1) {
    padding-right: 20px;
}

.condiotion p:hover {
    cursor: pointer;
    color: white;
}

#btn-back-to-top {
    position: fixed;
    background: #df1515;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 32px;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 1.6s;
    display: none;
    

}